header {
    position: relative;
    color: white;
    margin: 0px;
    padding: 0px;
    margin-top: 0%;
    text-align: center;
    z-index: 1000;
}

nav {
    position: absolute; 
}

nav ul {
    width: 45vw;
    display: flex;
    justify-content: space-between;
    list-style: none;      
    padding: 12px;
    padding-left: 5vw;
    margin: 0;
    position: fixed;
    z-index: 10;
    
}

nav ul li a {
    color: #9aeba3;
    position: relative;
    mix-blend-mode: difference;
    text-decoration: none;
    z-index: 10;
}


#home-header {

    height: 100vh;
   
}

@media screen and (max-width: 1068px) {
    nav ul {
    width: 75vw;
    display: flex;
    justify-content: space-between;
    list-style: none;      
    padding: 12px;
    margin: 0;
    gap: px;      
}
}

