
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  background: rgba(218, 253, 186, 0.15); /* background avec alpha */
  border-bottom: 1px solid rgba(1, 32, 48, 0.1);

  z-index: 1000;
  transition: transform 0.4s ease;
}

.header-content {
  max-width: 1200px;
  height: 100%;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
}

.main-header.hidden {
  transform: translateY(-100%);
}


.main-footer {
  width: 100%;
  padding: 1.5rem;
  background: var(--dark-neutral);
  color: white;
  text-align: center;
  margin-top: 5rem;
}

