/* Home titles */
#main-Htitle {
  font-size: clamp(1.5rem, 6vw, 7rem);
  color: #abd6e9;
  mix-blend-mode: difference;
  text-shadow: 0px 0px 20px #000000;
  font-family: sans-serif;
}

#secondary-Htitle {
  font-size: clamp(0.8rem, 2.5vw, 2.8rem);
  color: #b7e0da;
  font-family: sans-serif;
  mix-blend-mode: difference;
   text-shadow: 0px 0px 20px #000000;
}

/* Header background overlay */
#nav-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  width: 100vw;
  height: 100%;
  background: #012030;
}

