/* Home titles */
#main-Htitle {
  font-size: clamp(1.5rem, 6vw, 7rem);
  color: #abd6e9;
  mix-blend-mode: difference;
  text-shadow: 0px 0px 20px #000000;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#secondary-Htitle {
  font-size: clamp(0.8rem, 2.5vw, 2.8rem);
  color: #b7e0da;
  font-family: sans-serif;
  mix-blend-mode: difference;
  text-shadow: 0px 0px 20px #000000;
}




#t1 {
  margin-top: 40px;
  color: #13678a;

}

#p1 {
  font-size: 1.5em;
  color: #13678a;
  text-align: center;
}


#suggest-cont {
  display: flex;
  margin-top: 45px;
  background-color: #c7cccf;
  height: 500px;
  width: 100%;
  justify-content: space-between;
  align-items: center;

}

.suggest {
  background-color: aqua;
  width: 25%;
  height: 60%;
}

#gl-canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-top: 45px;

}