body{
    padding: 0px;
    margin: 0px;
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Parent becomes stacking context */
.slideshow {
  position: relative;
  overflow: hidden;
}

/* Background layer injected by JS */
.slideshow-bg {
  position: absolute;
  inset: 0;
  z-index: 0;
  pointer-events: none;
  ;
}

/* Slides */
.slideshow-bg .slide {
  position: absolute;
  filter: brightness(0.5);
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 4000ms ease;
}

.slideshow-bg .slide.active {
  opacity: 1;
}

/* All existing content stays above */
.slideshow > :not(.slideshow-bg) {
  position: relative;
  z-index: 1;
}


.centered-to-parent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    gap: 20px;
    pointer-events: none;
    
}