header {
    background-color: #333;
    color: white;
    margin: 0px;
    padding: 0px;
    margin-top: 0%;
    text-align: center;
}

nav ul {
    width: 45vw;
    display: flex;
    justify-content: space-between;
    list-style: none;      
    padding: 12px;
    padding-left: 5vw;
    margin: 0;
    gap: px;      
}


#home-header {
    background-color: rgb(27, 29, 29);
    height: 100vh;
    
}

@media screen and (max-width: 1068px) {
    nav ul {
    width: 75vw;
    display: flex;
    justify-content: space-between;
    list-style: none;      
    padding: 12px;
    margin: 0;
    gap: px;      
}
}