header {
    position: relative;
    color: white;
    margin: 0px;
    padding: 0px;
    margin-top: 0%;
    text-align: center;
    z-index: 1000;
}

nav {
    height: 50px;
    width: 100vw;
    position: fixed;
    z-index: 20;
    display: flex;
    align-items: center;

}

nav ul {
    width: 45vw;
    height: 50px;
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    list-style: none;
    padding: 16px;
    padding-left: 5vw;
    margin: 0;
    position: fixed;
    z-index: 10;

}

nav ul li a {
    color: #9aeba3;
    position: relative;
    mix-blend-mode: difference;
    text-decoration: none;
    z-index: 10;
}


#home-header {

    height: 100vh;

}


.user-profile-picture {
    margin: 0px;
    width: auto;
    height: 80%;
    border-radius: 50%;
    z-index: 20;
    margin-left: auto;
    margin-right: 2vw;
    position: relative;
    text-align: right;
}


@media screen and (max-width: 1068px) {
    nav ul {
        width: 75vw;
        display: flex;
        justify-content: space-between;
        list-style: none;
        padding: 12px;
        margin: 0;
        gap: px;
    }
}

/* Header background overlay */
#nav-bg {
    position: absolute;
    inset: 0;
    z-index: 0;
    pointer-events: none;
    width: 100vw;
    height: 100%;
    background: #012030;
}