{% extends "base.twig.html" %}

{% block title %}{{ title }}{% endblock %}

{% block styles %}
<link rel="stylesheet" href="static/styles/style-home.css">
{% endblock %}

{% block headerAttributes %}id="home-header"{% endblock %}

{% block header %}
<div class="centered-to-parent">
    <h1 id="main-Htitle">Find your Internship Today</h1>
    <h3 id="secondary-Htitle">Over 900 Internships to browse through</h3>
</div>
{% endblock %}

{% block content %}
 <h1  class="centered-title"id="t1">Currently {{ internshipCount }} internships available for you to apply!</h1>
 <div class="model-container full-width">
    
        <div data-inline-model data-model="static/assets/3dModels/Laptop.glb" data-scale="4.8" data-camera-y="4.8" data-scroll-speed="0.25" 
        data-fov="20" 
        data-output-zoom="1" 
            class="model-3d">
        </div>
    </div>

<div >
    <h2 class="centered-title" id="t1">Featured Offers</h2>
    <p id="p1">Explore internship opportunities tailored for you</p>
    <div id="offers-container" class="offers-carousel full-width">
        <div class="offers-track" id="offers-track">
            <!-- Offers will be loaded here by JavaScript -->
        </div>
    </div>
</div>
<div class="logos-wrapper">
    <div class="logos-section logo-container">
        <div class="logo-box">
            <img src="static/assets/images/Ajob4uLogo.png" alt="Ajob4u Logo">
        </div>
        <div class="logo-box">
            <img src="static/assets/images/WEB4ALL.png" alt="WEB4ALL Logo">
        </div>
    </div>
       
    </div>
<div>
    <p class="centered-title description-justified" id="p1">Ajob4u.com is a website dedicated to connecting students with internship opportunities made in partnership with the Web4All company</p>
    
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="static/js/pages/home.js"></script>
{% endblock %}